* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --highlight-color: #C40C0C;
    --text-color: #102C57;
    --bg-color: #FEFAF6;
}

*::selection{
    background-color: var(--bg-color);
    color: var(--text-color);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

hr{
    margin: 0 600px;
    height: 0.5px;
    background-color: #c2c0c0;
    border: none;
}

/* NAVBAR */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background-color: var(--bg-color);
}

.logo{
    color: var(--text-color);
    font-weight: 800;
    font-size: 35px;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 14px;
    padding: 10px 30px;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--highlight-color);
    transition: .4s;
}

#menu-icon{
    font-size: 27px;
    cursor: pointer;
    display: none;
}

/* HOME */
section{
    padding: 10px 20%;
    margin-top: 75px;
    margin-bottom: 75px;
}

.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    grid-gap: 10px;
}

.home-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 5%;
}

.home-info h1{
    font-size: 60px;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: var(--highlight-color);
    color: var(--bg-color);
    border-radius: 10%;
}
.btn:hover{
    background-color: var(--bg-color);
    color: var(--highlight-color);
    border-color: var(--highlight-color);
    border: solid;
}

/* WELCOME */
.welcome{
    text-align: center;
}

.welcome h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.welcome p{
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 1px;
}

.welcome span{
    color: var(--highlight-color);
    font-weight: 600;
}

/* home & living */
.title-heading h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.title-heading p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.content-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    grid-gap: 20px;
    align-items: center;
}

.card{
    position: relative;
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content-img{
    width: 320px;
    height: 450px;
}

.content-img img{
    width: 100%;
    height: 100%;
}

.card h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.card h5{
    color: var(--highlight-color);
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* waste */
.waste .title-heading{
    text-align: end;
}

/* newletter */
.newsletter{
    background-color: #DAC0A3;
    padding: 80px;
    text-align: center;
    margin: 100px auto;
    width: 80%;
}
.newsletter h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.newsletter p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}
input{
    padding: 10px 20px;
}

/* footer */
.footer .footer-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.footer-container .socials{
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer-container .menu{
    padding: 10px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.footer-container .menu a{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
}

.footer-container p{
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 10px;
    font-style: italic;
    text-align: center;
}

.footer-container span{
    font-size: 14px;
    padding: 10px;
    letter-spacing: 1px;
}