* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --highlight-color: #C40C0C;
    --text-color: #102C57;
    --bg-color: #FEFAF6;
    --divider-color: #c2c0c0; 
    --big-font: 60px;
    --medium-font: 45px;
    --title-p-font: 18px;
}

*::selection{
    background-color: var(--bg-color);
    color: var(--text-color);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

hr{
    margin: 0 600px;
    height: 0.5px;
    background-color: var(--divider-color);
    border: none;
}

/* navbar */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background-color: var(--bg-color);
}

.logo{
    color: var(--highlight-color);
    font-weight: 800;
    font-size: 35px;
}
.logo:hover{
    color: var(--text-color);
    transition: 1.5s;
}

header .navbar{
    display: flex;
}

header .navbar a{
    color: var(--text-color);
    font-size: 12px;
    padding: 10px 30px;
    font-weight: 500;
    letter-spacing: 1px;
}

header .navbar a:hover{
    color: var(--highlight-color);
    transition: 0.5s;
}

#menu-icon{
    font-size: 27px;
    cursor: pointer;
    display: none;
}

/* home/landing */
section{
    padding: 10px 20%;
    margin-top: 75px;
    margin-bottom: 75px;
}

.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    grid-gap: 10px;
}

.home-img img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 5%;
}

.home-info h1{
    font-size: var(--big-font);
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: var(--highlight-color);
    color: var(--bg-color);
}
.btn:hover{
    background-color: var(--bg-color);
    color: var(--highlight-color);
    border-color: var(--highlight-color);
    border: solid;
}

/* welcome */
.welcome{
    text-align: center;
}

.welcome h1{
    font-size: var(--medium-font);
    margin-bottom: 20px;
}

.welcome p{
    font-size: var(--title-p-font);
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 1px;
}

.welcome span{
    color: var(--highlight-color);
    font-weight: 600;
}

/* home & living and waste */
.title-heading h1{
    font-size: var(--medium-font);
    margin-bottom: 20px;
}

.title-heading p{
    font-size: var(--title-p-font);
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.content-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 20px;
    align-items: center;
}

.card{
    position: relative;
    margin-top: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content-img{
    width: 290px;
    height: 425px;
}

.content-img img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.card h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.card h5{
    color: var(--highlight-color);
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
}
/* waste */
.waste .title-heading{
    text-align: end;
}

/* newletter */
.newsletter{
    background-color: #DAC0A3;
    padding: 80px;
    text-align: center;
    margin: 100px auto;
    width: 80%;
}
.newsletter h1{
    font-size: var(--medium-font);
    margin-bottom: 20px;
}
.newsletter p{
    font-size: var(--title-p-font);
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}
input{
    padding: 10px 20px;
}

/* footer */
.footer .footer-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container h1{
    color: var(--highlight-color);
    font-size: var(--medium-font);
    margin-bottom: 20px;
}

.footer-container .socials{
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer-container .menu{
    padding: 10px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.footer-container .menu a{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
}

.footer-container p{
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 10px;
    font-style: italic;
    text-align: center;
}

.footer-container span{
    font-size: 14px;
    padding: 10px;
    letter-spacing: 1px;
}

/* media queries */

/* xs */
@media (max-width: 475px) {
    
}
/* sm */
@media (max-width: 640px) {
    .home{
        text-align: center;
    }
    .home-img{
        margin-top: 20px;
    }
    .home-img img{
        width: 350px;
    }
}
/* md */
@media (max-width: 768px) {
    :root{
        --big-font: 30px;
        --medium-font: 25px;
        --title-p-font: 12px;
    }
    #menu-icon{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #274a7f;
        transition: 0.5s;
    }
    header .navbar a{
        padding: 35px;
        display: block;
    }
    header{
        padding: 15px 50px;
    }
    .home{
        margin-top: 100px;
        min-height: 50vh;
    }
    section{
        padding: 10px 20%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .content-container{
        display: grid;
        align-items: center;
    }
    .content-img{
        width: 225px;
        height: 300px;
    }
    .card h3{
        font-size: 9px;
    }
    .card h5{
        font-size: 8px;
    }
    .btn{
        padding: 8px 14px;
        margin-top: 20px;
        font-size: 8px;
    }
    input{
        padding: 8px 14px;
        font-size: 10px;
    }
    hr{
        margin: 0 250px;
        height: 0.5px;
    }
}
/* lg */
@media (min-width: 1024px) {
    :root{
        --big-font: 45px;
        --medium-font: 35px;
        --title-p-font: 14px;
    }
    #menu-icon{
        display: none;
    }
    header{
        padding: 15px 80px;
    }
    header .navbar a{
        font-size: 9px;
        padding: 5px 15px;
    }
    .home{
        min-height: 90vh;
    }
    section{
        padding: 10px 20%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .content-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        grid-gap: 10px;
        align-items: center;
    }
    .content-img{
        width: 200px;
        height: 325px;
    }
    .card h3{
        font-size: 10px;
    }
    .card h5{
        font-size: 10px;
    }
    .btn{
        padding: 8px 17px;
        margin-top: 30px;
        font-size: 10px;
    }
    input{
        padding: 8px 17px;
        font-size: 10px;
    }
    hr{
        margin: 0 400px;
        height: 0.5px;
    }
}
/* xl */
@media (min-width: 1280px) {
    :root{
        --big-font: 50px;
        --medium-font: 40px;
        --title-p-font: 16px;
    }
    header{
        padding: 30px 170px;
    }
    header .navbar a{
        font-size: 12px;
        padding: 10px 20px;
    }
    section{
        padding: 10px 20%;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .content-container{
        grid-gap: 10px;
    }
    .content-img{
        width: 240px;
        height: 400px;
    }
    .card h3{
        font-size: 12px;
    }
    .card h5{
        font-size: 12px;
    }
    .btn{
        padding: 10px 20px;
        margin-top: 30px;
        font-size: 12px;
    }
    input{
        padding: 10px 20px;
        font-size: 12px;
    }
}
/* xxl */
@media (min-width: 1536px) {
    
}


